<div class="home row  grid wide">
    <div class="new_post section row col l-8">
       
        <section class="section__group-1 ">
            <div class="section__group-1__item " data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
                <a href="/bai-viet/{{newposts.slug}}" class="section__group-1__item__link">
                    <img src="{{newposts.image}}" alt="{{newposts.title}}">
                </a> 
            <div class="section__group-1__item__title">
                <a href="/bai-viet/{{newposts.slug}}">{{newposts.title}}</a> 
            </div> 
            </div>
        </section>
        
        
        <section class="section__group-2">
            <div class="section__group-2__posts row ">
                 {{#each post_s2}}
                <div class="section__group-2__posts__item col   m-6 l-6 " data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
                    <a class="section__group-2__posts__item__link" href="/bai-viet/{{this.slug}}">
                        <img src="{{this.image}}" alt="">
                    </a>
                    <a class="section__group-2__posts__item__title" href="/bai-viet/{{this.slug}}">{{this.title}}
                    </a>
                </div>
                 {{/each}}
                  </div>
        </section>
       
       
         {{#each post_s3}}
        <section class="section__group-3">
            <div class="section__group-3__posts row" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
               
                <div class="section__group-3__posts__link col  c-4 m-4 l-4">
                    <a class="" href="/bai-viet/{{this.slug}}">
                    <img src="{{this.image}}" alt="">
                </a>
                </div>
                <div class="section__group-3__posts__content col  c-8 m-8 l-8">
                <div class="section__group-3__posts__content__title">
                    <a href="/bai-viet/{{this.slug}}">{{this.title}}</a>
                </div>
                <div class="section__group-3__posts__content__description">
                 {{{this.introduction}}}
                </div>
                </div> 
                
                </div>
                
        </section>
         {{/each}}
     
         
       
    
        <div class="video">
            <div class="video__title">Video</div>
            <section class="section__group-2" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
                <div class="section__group-2__posts row">
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img  src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                
                </div>  
            </section>
            <section class="section__group-2" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
                <div class="section__group-2__posts row">
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                
                </div>  
            </section>
            <section class="section__group-2" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
                <div class="section__group-2__posts row">
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                    <div class="section__group-2__posts__item col  m-4 l-4 ">
                        <a class="section__group-2__posts__item__link" href="">
                            <img src="https://st.quantrimang.com/photos/image/2021/11/13/tat-am-thanh-khoi-dong-windows-11700-size-345x0-znd.jpg" alt="">
                        </a>
                        <a class="section__group-2__posts__item__title" href="">Phát hiện mã độc mới có khả năng 'trốn' hầu hết các phần mềm diệt virus
                        </a>
                    </div>
                
                </div>  
            </section>
        </div>
    
    </div>
   
    <div class="home__right col   l-4">
        <Section class="section__new-posts">
            <div class="section__new-posts__title">Bài viết được xem nhiều nhất</div>
            {{#each postsRight_1}}
            <div class="section__new-posts__item row no-gutters" >
                <a href="/bai-viet/{{this.slug}}" class= "  l-2">
                <img  src="{{this.image}}" alt="">
                </a>
                <a href="/bai-viet/{{this.slug}}" class="  l-10">
                    <div class="section__new-posts__item__title ">{{this.title}}</div>
                </a>
            </div>
             {{/each}}
        </Section>
        
         <Section class="section__new-posts" >
            <div class="section__new-posts__title">Có thể bạn quan tâm</div>
            {{#each postsRight_2}}
            <div class="section__new-posts__item row no-gutters" >
                <a href="/bai-viet/{{this.slug}}" class= " l-2">
                <img  src="{{this.image}}" alt="">
                </a>
                <a href="/bai-viet/{{this.slug}}" class=" l-10">
                    <div class="section__new-posts__item__title ">{{this.title}}</div>
                </a>
            </div>
             {{/each}}
           
        </Section>
       
    </div>
</div>
<script>
    var inputElement = document.querySelector(".navbar__container__search__input");
        inputElement.value = "";
</script>
